[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
pydash = "*"
coloredlogs = "*"
PyYAML = "*"
click = "*"
apscheduler = "*"

[requires]
python_version = "3.5"
