[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pytest-cov = "*"
pytest = "*"
codecov = "*"
click = "*"
scandir = "*"
"pathlib2" = "*"
"Flask-Testing" = "*"

[packages]
pydash = "*"
coloredlogs = "*"
PyYAML = "*"
click = "*"
apscheduler = "*"
sqlalchemy = "*"
pytz = "*"
tzlocal = "*"
google-api-python-client = "*"
"oauth2client" = "*"
"flask" = "*"
"Flask-SQLAlchemy" = "*"

[requires]
python_version = "3.4"
