{% extends 'layout.html' %}
{% block content %}

<div class="table">
	<table class="table" id="tabledata">
		<thead class="thead-dark">
			<tr>
			  <th scope="col">ID</th>
			  <th scope="col">Name</th>
			  <th scope="col">IP Address</th>
			  <th scope="col">Country Code</th>
			  <th scope="col">Language Code</th>
			  <th scope="col">Timezone</th>
			  <th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
		{% for value in channels %}
			<tr>
			  <td>{{ value['channel_id'] }}</td>
			  <td>{{ value["name"] }}</td>
			  <td>{{ value["ip"] }}</td>
			  <td>{{ value["country_code"] }}</td>
			  <td>{{ value["lang"] }}</td>
			  <td>{{ value["timezone"] }}</td>
			  <td>{{ value["status"] }}</td>
			</tr>
		{% endfor%}
		</tbody>
	</table>
</div>
{% endblock %}
